Package: com.hongzhi.hzwechatchangesport
Name: HZWeChatChangeSport
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 红纸
Author: 红纸
Section: Tweaks
Version: 0.0.1-13
Installed-Size: 136
