Package: com.hongzhi.hzmobilenotestextcount9
Name: hzmobilenotestextcount9
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 红纸
Author: 红纸
Section: Tweaks
