Package: com.sangshen.hztestluckybag
Name: HZTestLuckyBag
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sangshen
Author: sangshen
Section: Tweaks
Version: 0.0.1-11
Installed-Size: 136
